html {
	font-size: 18px;\
}

body {
overflow-x: hidden;
}

.x-container {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;	
}

header {
	width: 100%
	height: auto;
	background-color: black;
}

header p {
	align-self: center;
	color: white;
	margin: 0.66rem 0.5rem;
}

header img {
	height: 1.5rem;
	margin: 0 0.5rem;
}

.landing-box {
	background: url("../images/moto.jpeg") no-repeat;
	background-size: 100%;
	height: 25rem;
	width: 100%;
	display: flex;
}

.info-box {
	margin-top: 9rem;
	width: 25rem;
	background-color: black;
	color: white;
	font-weight: bold;
	font-family: Helvetica;
}

.info-box figure{
  padding: 2rem 3rem;
}

.info-box h1 {
	font-size: 2rem;
	margin-top: 0.25rem;
}

nav {
	background-color: firebrick;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	cursor: pointer;
}

nav .x-container {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;	
	justify-content: space-between;
	padding: 0.75rem 0;
}

.menu {
	display: none;
}

.product .x-container, .business-info .x-container{
	display: flex;
	justify-content: space-between;
}

.product figure {
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	margin: 3rem 0;
	height: 14.5rem;
	width: 30%;
	border: 4px solid black;
}


.product img {
	margin: auto;
	max-height: 9rem;
	max-width: 9rem;
}

#dojo img {
	min-width: 100%;
	height: auto;
}

figcaption {
	padding: 0.5rem 0;
	color: white;
	background-color: black;
	text-align: center;
}

.business-info figure {
	margin: 0 0 4rem 0;
	width: 35%;
	height: auto;
}

.business-info figcaption {
	padding: 1rem 2rem;
	text-align: left;
}

footer {
	height: 5rem;
	color: white;
	background-color: black;
}

footer .x-container {
	height: 100%;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
   
  .x-container {
  	width: 100%;
  	flex-wrap: nowrap;
  }

  .product figure {
  	width: 47%;
  	flex-shrink: 1;
  }

  .business-info figure {
  	width: 35%;
  	flex-shrink: 0.2;
  }

  nav .x-container {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
   }

  a {
  	width: 100%;
  	text-align: center;
  }

  .menu {
  	display: initial;
  	margin: auto;
  }

  .item {
  	display: none;
  }

  nav:hover .item {
  	width: 15%;
  	background-color: black;
  	display: inline;
  	margin-bottom: 1rem;
  	border: 1px solid black;
  	border-radius: 30% 30%;
  	padding: 0.25rem 0;
  }   

  nav:hover .menu {
  	display: none;
  }
}

@media only screen and (max-width: 470px) {
   
	.landing-box {
		height: 15rem;
	}

	.info-box {
		width: 100%
		margin-top: 10rem;
		font-size: 0.77rem;
	}

  .info-box figure{
    padding: 1rem 2rem;
  }	

  .info-box h1 {
  	font-size: 1rem;
  	margin-top: 0.25rem;
  }

  nav .x-container {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
   }

  .menu {
  	display: initial;
  	margin: auto;
  }

  .item {
  	display: none;
  }

  nav:hover .item {
  	display: inline;
  	margin-bottom: 1rem;
  }   

  nav:hover .menu {
  	display: none;
  }

  .product .x-container {
  	justify-content: space-around;
  	width: 100%;
  }

  .product figure {
  	width: 90%;
  	flex-shrink: 1;
  }

  .business-info .x-container{
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

  .business-info .x-container > *{
  	width: 90%;
  }

  .business-info figure {
  	margin-bottom: .5rem;
  }

  footer {
  	margin-top: 3.5rem;
  }

  footer p {
  	width: 100%;
  	text-align: center;
  }

}